<footer class="mt-2 mb-2">
    <div class="container">
        <h6 class="text-disabled text-hover-secondary-light-1">Copyright &copy; Rifqi Finaldy 2022</h6>
    </div>
</footer>
<script src="https://kit.fontawesome.com/6fe96ca131.js" crossorigin="anonymous"></script>