<nav class="navbar-primary text-white mb-2">
  <div class="container">
      <h2 class="site-title">Simple Blog Site</h2>
      <div>
        <a class="text-hover-black mr-2" href="/">Home</a>
        <a href="/blogs/create">Create New Blog</a>
      </div>
      
  </div>
</nav>
