<div class="display-inline mb-1">
  <h1><%= title %></h1>
  <small class="text-gray"
    >Developed by
    <a
      class="text-error text-hover-secondary-light-1"
      href="https://github.com/rifqifinaldy"
      target="_blank"
    >
      Rifqi Finaldy</a
    ></small
  >
  <hr />
</div>
