<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="blogs content">
        <h2>All Blogs</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, voluptates suscipit vero ea error animi impedit sit, omnis obcaecati repellat dolorum aut. Enim fugiat deleniti perferendis minus? Est, rerum totam?/p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, voluptates suscipit vero ea error animi impedit sit, omnis obcaecati repellat dolorum aut. Enim fugiat deleniti perferendis minus? Est, rerum totam?/p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, voluptates suscipit vero ea error animi impedit sit, omnis obcaecati repellat dolorum aut. Enim fugiat deleniti perferendis minus? Est, rerum totam?/p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>