<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>

    <!-- Colors -->
    <span class="text-primary">Primary Text</span>
    <span class="text-secondary">Secondary Text</span>
    <span class="text-gray">Gray Text</span>
    <span class="text-black">Black Text</span>
    <span class="text-info">Info Text</span>
    <span class="text-disabled">Disabled Text</span>
    <span class="text-error">Error Text</span>
    <!-- Font Sizes -->

    <!-- Buttons -->

    <!-- Cards -->
    <h2>Cards</h2>
    <div class="card">
      <h1 class="card-title">Card Title</h1>
      <p class="card-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem
        dignissimos officiis libero, porro nisi officia eveniet molestias
        corrupti, praesentium doloremque minima facere quia magni consequuntur
        repellat ipsam sit veniam blanditiis. <a href="#">READ MORE</a>
      </p>
    </div>
    <!-- Grid System -->

    <!-- Utilities -->
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
